<ion-header>
  <ion-toolbar class="header-background-color">
  	 <ion-back-button slot="start"></ion-back-button>
    <ion-title class="heaerfont">{{trnslt.book_a_tbl}}</ion-title>
   <!--  <ion-buttons slot="end" class='vwprc'(click)='viewprices()'>
      View Prices
    </ion-buttons> -->
    <ion-buttons slot="end" (click)='viewmycart()'>
      <ion-icon name="person-outline" clas='headerrighticon'></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.name}} <span>*</span></label>
		<input type="text" readonly="readonly" [(ngModel)]="data.name">
	</div>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.email}} <span>*</span></label>
		<input type="email" readonly="readonly" [(ngModel)]="data.email">
	</div>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.}} <span>*</span></label>
		<input type="tel" readonly="readonly" [(ngModel)]="data.mobile">
	</div>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.number_of_person}} <span>*</span></label>
		<input type="tel" [(ngModel)]="data.nop">
	</div>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.booking_date}} <span>*</span></label>
		<input type="date" (change)='chkbuftavl()' [(ngModel)]="data.bookdate">
	</div>
	<div class="loginmobilefieldreg">
		<label>{{trnslt.book_time}} <span>*</span></label>
		<!-- <input type="time" [(ngModel)]="data.booktime"> -->
		<select [(ngModel)]="data.booktime">
			<option value="{{tml.value}}" *ngFor="let tml of timelist">{{tml.datename}} - {{tml.value}}</option>
		</select>
	</div>
	<!-- <div class="loginmobilefieldreg">
		<label>Booking For <span>*</span></label>
		<select [(ngModel)]="data.bookingfor">
			<option value="Break fast">Break fast</option>
			<option value="Lunch">Lunch</option>
			<option value="Dinner">Dinner</option>
		</select>
	</div> -->
	
	<div class="continuebtn" (click)='checkfldempty()'>
		{{trnslt.book_a_tbl}}
	</div>
	<!-- <div class="continuebtn" (click)='viewprices()'>
		View Buffet Prices
	</div> -->
	
</ion-content>

